:host, :root, :root[data-theme=dark], :root [data-theme=dark] {
--bodyG: rgb(33,35,62);
--bodyBg: rgb(33,35,62);
--bodyBgHover: rgb(37, 39, 69);
--bodyBg2: rgb(44, 46, 82);
--bodyBg2Hover: rgb(54, 58, 102);
--bodyBg3: rgb(68, 73, 129);
--bodyBg3Hover: rgb(86, 91, 162);
--bodyRGBATransparent: rgba(86, 91, 162, 0);
--bodyRGBA: rgba(86, 91, 162, 0.6);
--bodyRGBA2: rgba(86, 91, 162, 0.4);
--bodyRGBA3: rgba(86, 91, 162, 0.2);
--bodyAccent: rgb(86,91,162);
--bodyAccentTxt: #ffffff;
--bodyTxt: #ffffff;
--bodyTxt2: #d3d3d8;
--bodyTxt3: #bcbdc5;
--bodyBorder: rgb(33,35,62);
--bodyRadius: undefinedpx;
--accentG: rgb(86,91,162);
--accentBg: rgb(86,91,162);
--accentBgHover: rgb(90, 96, 168);
--accentBg2: rgb(104, 108, 175);
--accentBg2Hover: rgb(124, 128, 185);
--accentBg3: rgb(150, 154, 199);
--accentBg3Hover: rgb(184, 186, 217);
--accentRGBATransparent: rgba(184, 186, 217, 0);
--accentRGBA: rgba(184, 186, 217, 0.6);
--accentRGBA2: rgba(184, 186, 217, 0.4);
--accentRGBA3: rgba(184, 186, 217, 0.2);
--accentAccent: rgb(86,91,162);
--accentAccentTxt: #ffffff;
--accentTxt: #ffffff;
--accentTxt2: #dddeec;
--accentTxt3: #cccee3;
--accentBorder: rgb(86,91,162);
--accentRadius: undefinedpx;
--brandG: rgb(151,227,255);
--brandBg: rgb(151,227,255);
--brandBgHover: rgb(141, 224, 255);
--brandBg2: rgb(120, 219, 255);
--brandBg2Hover: rgb(90, 210, 255);
--brandBg3: rgb(49, 200, 255);
--brandBg3Hover: rgb(0, 185, 253);
--brandRGBATransparent: rgba(0, 185, 253, 0);
--brandRGBA: rgba(0, 185, 253, 0.6);
--brandRGBA2: rgba(0, 185, 253, 0.4);
--brandRGBA3: rgba(0, 185, 253, 0.2);
--brandAccent: rgb(86,91,162);
--brandAccentTxt: #ffffff;
--brandTxt: #000000;
--brandTxt2: #1e2d33;
--brandTxt3: #2d444d;
--brandBorder: rgb(151,227,255);
--brandRadius: undefinedpx;
--dominantG: rgb(39,42,73);
--dominantBg: rgb(39,42,73);
--dominantBgHover: rgb(43, 46, 80);
--dominantBg2: rgb(50, 53, 93);
--dominantBg2Hover: rgb(60, 65, 113);
--dominantBg3: rgb(75, 80, 139);
--dominantBg3Hover: rgb(95, 102, 170);
--dominantRGBATransparent: rgba(95, 102, 170, 0);
--dominantRGBA: rgba(95, 102, 170, 0.6);
--dominantRGBA2: rgba(95, 102, 170, 0.4);
--dominantRGBA3: rgba(95, 102, 170, 0.2);
--dominantAccent: rgb(86,91,162);
--dominantAccentTxt: #ffffff;
--dominantTxt: #ffffff;
--dominantTxt2: #d4d4db;
--dominantTxt3: #bebfc8;
--dominantBorder: rgb(39,42,73);
--dominantRadius: undefinedpx;
--buttonG: rgb(86,91,162);
--buttonBg: rgb(90, 96, 168);
--buttonBgHover: rgb(97, 102, 172);
--buttonBg2: rgb(110, 115, 179);
--buttonBg2Hover: rgb(130, 135, 189);
--buttonBg3: rgb(157, 160, 203);
--buttonBg3Hover: rgb(190, 192, 221);
--buttonRGBATransparent: rgba(190, 192, 221, 0);
--buttonRGBA: rgba(190, 192, 221, 0.6);
--buttonRGBA2: rgba(190, 192, 221, 0.4);
--buttonRGBA3: rgba(190, 192, 221, 0.2);
--buttonAccent: rgb(86,91,162);
--buttonAccentTxt: #ffffff;
--buttonTxt: #ffffff;
--buttonTxt2: #dedfee;
--buttonTxt3: #cecfe5;
--buttonBorder: rgb(86,91,162);
--buttonRadius: undefinedpx;
--buttonSecondaryG: rgb(33,35,62);
--buttonSecondaryBg: rgb(86, 91, 162);
--buttonSecondaryBgHover: rgb(90, 96, 168);
--buttonSecondaryBg2: rgb(104, 108, 175);
--buttonSecondaryBg2Hover: rgb(124, 128, 185);
--buttonSecondaryBg3: rgb(150, 154, 199);
--buttonSecondaryBg3Hover: rgb(184, 186, 217);
--buttonSecondaryRGBATransparent: rgba(184, 186, 217, 0);
--buttonSecondaryRGBA: rgba(184, 186, 217, 0.6);
--buttonSecondaryRGBA2: rgba(184, 186, 217, 0.4);
--buttonSecondaryRGBA3: rgba(184, 186, 217, 0.2);
--buttonSecondaryAccent: rgb(86,91,162);
--buttonSecondaryAccentTxt: #ffffff;
--buttonSecondaryTxt: #ffffff;
--buttonSecondaryTxt2: #dddeec;
--buttonSecondaryTxt3: #cccee3;
--buttonSecondaryBorder: rgb(33,35,62);
--buttonSecondaryRadius: undefinedpx;
--navbarG: rgb(39,42,73);
--navbarBg: rgb(50, 53, 93);
--navbarBgHover: rgb(54, 57, 100);
--navbarBg2: rgb(61, 64, 113);
--navbarBg2Hover: rgb(71, 76, 133);
--navbarBg3: rgb(86, 91, 159);
--navbarBg3Hover: rgb(116, 120, 180);
--navbarRGBATransparent: rgba(116, 120, 180, 0);
--navbarRGBA: rgba(116, 120, 180, 0.6);
--navbarRGBA2: rgba(116, 120, 180, 0.4);
--navbarRGBA3: rgba(116, 120, 180, 0.2);
--navbarAccent: rgb(86,91,162);
--navbarAccentTxt: #ffffff;
--navbarTxt: #ffffff;
--navbarTxt2: #d6d7df;
--navbarTxt3: #c2c2ce;
--navbarBorder: rgb(39,42,73);
--navbarRadius: undefinedpx;
--sliderG: rgb(33,35,62);
--sliderBg: rgb(37, 39, 69);
--sliderBgHover: rgb(41, 43, 76);
--sliderBg2: rgb(48, 50, 89);
--sliderBg2Hover: rgb(58, 61, 109);
--sliderBg3: rgb(73, 76, 135);
--sliderBg3Hover: rgb(92, 96, 167);
--sliderRGBATransparent: rgba(92, 96, 167, 0);
--sliderRGBA: rgba(92, 96, 167, 0.6);
--sliderRGBA2: rgba(92, 96, 167, 0.4);
--sliderRGBA3: rgba(92, 96, 167, 0.2);
--sliderAccent: rgb(86,91,162);
--sliderAccentTxt: #ffffff;
--sliderTxt: #ffffff;
--sliderTxt2: #d3d4da;
--sliderTxt3: #bebec7;
--sliderBorder: rgb(33,35,62);
--sliderRadius: undefinedpx;
--headerG: rgb(39,42,73);
--headerBg: rgb(50, 53, 93);
--headerBgHover: rgb(54, 57, 100);
--headerBg2: rgb(61, 64, 113);
--headerBg2Hover: rgb(71, 76, 133);
--headerBg3: rgb(86, 91, 159);
--headerBg3Hover: rgb(116, 120, 180);
--headerRGBATransparent: rgba(116, 120, 180, 0);
--headerRGBA: rgba(116, 120, 180, 0.6);
--headerRGBA2: rgba(116, 120, 180, 0.4);
--headerRGBA3: rgba(116, 120, 180, 0.2);
--headerAccent: rgb(86,91,162);
--headerAccentTxt: #ffffff;
--headerTxt: #ffffff;
--headerTxt2: #d6d7df;
--headerTxt3: #c2c2ce;
--headerBorder: rgb(39,42,73);
--headerRadius: undefinedpx;
--subHeaderG: rgb(39,42,73);
--subHeaderBg: rgb(60, 65, 113);
--subHeaderBgHover: rgb(64, 69, 120);
--subHeaderBg2: rgb(71, 76, 133);
--subHeaderBg2Hover: rgb(81, 88, 153);
--subHeaderBg3: rgb(102, 108, 173);
--subHeaderBg3Hover: rgb(135, 140, 191);
--subHeaderRGBATransparent: rgba(135, 140, 191, 0);
--subHeaderRGBA: rgba(135, 140, 191, 0.6);
--subHeaderRGBA2: rgba(135, 140, 191, 0.4);
--subHeaderRGBA3: rgba(135, 140, 191, 0.2);
--subHeaderAccent: rgb(86,91,162);
--subHeaderAccentTxt: #ffffff;
--subHeaderTxt: #ffffff;
--subHeaderTxt2: #d8d9e3;
--subHeaderTxt3: #c5c6d4;
--subHeaderBorder: rgb(39,42,73);
--subHeaderRadius: undefinedpx;
--eventG: rgb(39,42,73);
--eventBg: rgb(50, 53, 93);
--eventBgHover: rgb(54, 57, 100);
--eventBg2: rgb(61, 64, 113);
--eventBg2Hover: rgb(71, 76, 133);
--eventBg3: rgb(86, 91, 159);
--eventBg3Hover: rgb(116, 120, 180);
--eventRGBATransparent: rgba(116, 120, 180, 0);
--eventRGBA: rgba(116, 120, 180, 0.6);
--eventRGBA2: rgba(116, 120, 180, 0.4);
--eventRGBA3: rgba(116, 120, 180, 0.2);
--eventAccent: #737df0;
--eventAccentTxt: #000000;
--eventTxt: #ffffff;
--eventTxt2: #d6d7df;
--eventTxt3: #c2c2ce;
--eventBorder: rgb(39,42,73);
--eventRadius: undefinedpx;
--eventLiveG: rgb(33,35,62);
--eventLiveBg: rgb(86, 91, 162);
--eventLiveBgHover: rgb(90, 96, 168);
--eventLiveBg2: rgb(104, 108, 175);
--eventLiveBg2Hover: rgb(124, 128, 185);
--eventLiveBg3: rgb(150, 154, 199);
--eventLiveBg3Hover: rgb(184, 186, 217);
--eventLiveRGBATransparent: rgba(184, 186, 217, 0);
--eventLiveRGBA: rgba(184, 186, 217, 0.6);
--eventLiveRGBA2: rgba(184, 186, 217, 0.4);
--eventLiveRGBA3: rgba(184, 186, 217, 0.2);
--eventLiveAccent: rgb(86,91,162);
--eventLiveAccentTxt: #ffffff;
--eventLiveTxt: #ffffff;
--eventLiveTxt2: #dddeec;
--eventLiveTxt3: #cccee3;
--eventLiveBorder: rgb(33,35,62);
--eventLiveRadius: undefinedpx;
--oddG: rgb(39,42,73);
--oddBg: rgb(43, 46, 80);
--oddBgHover: rgb(47, 50, 87);
--oddBg2: rgb(54, 57, 100);
--oddBg2Hover: rgb(64, 69, 120);
--oddBg3: rgb(79, 84, 146);
--oddBg3Hover: rgb(103, 109, 173);
--oddRGBATransparent: rgba(103, 109, 173, 0);
--oddRGBA: rgba(103, 109, 173, 0.6);
--oddRGBA2: rgba(103, 109, 173, 0.4);
--oddRGBA3: rgba(103, 109, 173, 0.2);
--oddAccent: rgb(86,91,162);
--oddAccentTxt: #ffffff;
--oddTxt: #ffffff;
--oddTxt2: #d5d5dc;
--oddTxt3: #bfc0cb;
--oddBorder: rgb(39,42,73);
--oddRadius: undefinedpx;
--oddActiveG: rgb(86,91,162);
--oddActiveBg: rgb(90, 96, 168);
--oddActiveBgHover: rgb(97, 102, 172);
--oddActiveBg2: rgb(110, 115, 179);
--oddActiveBg2Hover: rgb(130, 135, 189);
--oddActiveBg3: rgb(157, 160, 203);
--oddActiveBg3Hover: rgb(190, 192, 221);
--oddActiveRGBATransparent: rgba(190, 192, 221, 0);
--oddActiveRGBA: rgba(190, 192, 221, 0.6);
--oddActiveRGBA2: rgba(190, 192, 221, 0.4);
--oddActiveRGBA3: rgba(190, 192, 221, 0.2);
--oddActiveAccent: rgb(86,91,162);
--oddActiveAccentTxt: #ffffff;
--oddActiveTxt: #ffffff;
--oddActiveTxt2: #dedfee;
--oddActiveTxt3: #cecfe5;
--oddActiveBorder: rgb(86,91,162);
--oddActiveRadius: undefinedpx;
--showMoreG: rgb(33,35,62);
--showMoreBg: rgb(37, 39, 69);
--showMoreBgHover: rgb(41, 43, 76);
--showMoreBg2: rgb(48, 50, 89);
--showMoreBg2Hover: rgb(58, 61, 109);
--showMoreBg3: rgb(73, 76, 135);
--showMoreBg3Hover: rgb(92, 96, 167);
--showMoreRGBATransparent: rgba(92, 96, 167, 0);
--showMoreRGBA: rgba(92, 96, 167, 0.6);
--showMoreRGBA2: rgba(92, 96, 167, 0.4);
--showMoreRGBA3: rgba(92, 96, 167, 0.2);
--showMoreAccent: rgb(86,91,162);
--showMoreAccentTxt: #ffffff;
--showMoreTxt: #ffffff;
--showMoreTxt2: #d3d4da;
--showMoreTxt3: #bebec7;
--showMoreBorder: rgb(33,35,62);
--showMoreRadius: undefinedpx;
--marketHeaderG: rgb(33,35,62);
--marketHeaderBg: rgb(44, 46, 82);
--marketHeaderBgHover: rgb(48, 50, 89);
--marketHeaderBg2: rgb(55, 57, 102);
--marketHeaderBg2Hover: rgb(65, 68, 122);
--marketHeaderBg3: rgb(80, 83, 148);
--marketHeaderBg3Hover: rgb(105, 108, 174);
--marketHeaderRGBATransparent: rgba(105, 108, 174, 0);
--marketHeaderRGBA: rgba(105, 108, 174, 0.6);
--marketHeaderRGBA2: rgba(105, 108, 174, 0.4);
--marketHeaderRGBA3: rgba(105, 108, 174, 0.2);
--marketHeaderAccent: rgb(86,91,162);
--marketHeaderAccentTxt: #ffffff;
--marketHeaderTxt: #ffffff;
--marketHeaderTxt2: #d5d5dc;
--marketHeaderTxt3: #c0c0cb;
--marketHeaderBorder: rgb(33,35,62);
--marketHeaderRadius: undefinedpx;
--collapseG: rgb(39,42,73);
--collapseBg: rgb(60, 65, 113);
--collapseBgHover: rgb(64, 69, 120);
--collapseBg2: rgb(71, 76, 133);
--collapseBg2Hover: rgb(81, 88, 153);
--collapseBg3: rgb(102, 108, 173);
}