.icon-ic_provider_betsoft_bw {
    background-position: -0px -0px;
}

.icon-ic_provider_betsoft_col {
    background-position: -100px -0px;
}

.icon-ic_provider_betsolutions_bw {
    background-position: -0px -64px;
}

.icon-ic_provider_betsolutions_col {
    background-position: -100px -64px;
}

.icon-ic_provider_digitainvirtualsport_bw {
    background-position: -0px -128px;
}

.icon-ic_provider_digitainvirtualsport_col {
    background-position: -100px -128px;
}

.icon-ic_provider_evoplay_bw {
    background-position: -0px -192px;
}

.icon-ic_provider_evoplay_col {
    background-position: -100px -192px;
}

.icon-ic_provider_ezugioriginal_bw {
    background-position: -0px -256px;
}

.icon-ic_provider_ezugioriginal_col {
    background-position: -100px -256px;
}

.icon-ic_provider_felixgaming_bw {
    background-position: -0px -320px;
}

.icon-ic_provider_felixgaming_col {
    background-position: -100px -320px;
}

.icon-ic_provider_fugaso_bw {
    background-position: -0px -384px;
}

.icon-ic_provider_fugaso_col {
    background-position: -100px -384px;
}

.icon-ic_provider_galaxsys_bw {
    background-position: -0px -448px;
}

.icon-ic_provider_galaxsys_col {
    background-position: -100px -448px;
}

.icon-ic_provider_genii_bw {
    background-position: -0px -512px;
}

.icon-ic_provider_genii_col {
    background-position: -100px -512px;
}

.icon-ic_provider_imaginelive_bw {
    background-position: -0px -576px;
}

.icon-ic_provider_imaginelive_col {
    background-position: -100px -576px;
}

.icon-ic_provider_inbet_bw {
    background-position: -0px -640px;
}

.icon-ic_provider_inbet_col {
    background-position: -100px -640px;
}

.icon-ic_provider_platipus_bw {
    background-position: -0px -704px;
}

.icon-ic_provider_platipus_col {
    background-position: -100px -704px;
}

.icon-ic_provider_pragmatic_bw {
    background-position: -0px -768px;
}

.icon-ic_provider_pragmatic_col {
    background-position: -100px -768px;
}

.icon-ic_provider_rubyplay_bw {
    background-position: -0px -832px;
}

.icon-ic_provider_rubyplay_col {
    background-position: -100px -832px;
}

.icon-ic_provider_tvbet_bw {
    background-position: -0px -896px;
}

.icon-ic_provider_tvbet_col {
    background-position: -100px -896px;
}

.icon-ic_provider_vivogaming_bw {
    background-position: -0px -960px;
}

.icon-ic_provider_vivogaming_col {
    background-position: -100px -960px;
}

.icon-ic_provider_wazdan_bw {
    background-position: -0px -1024px;
}

.icon-ic_provider_wazdan_col {
    background-position: -100px -1024px;
}

.icon-ic_provider_worldmatch_bw {
    background-position: -0px -1088px;
}

.icon-ic_provider_worldmatch_col {
    background-position: -100px -1088px;
}
